<div>
  <h1 class="font-bold text-4xl">Welcome to Rails App</h1>
  
  <h3 class="text-3xl pt-10">
  <%= @greeting %> <!-- Ensure this line is exactly as expected -->
  </h3>

  <h2 class="text-2xl mb-10"><%= @current_time.strftime("%B %d, %Y %I:%M:%S %p")%> </h2>



<%= link_to 'View All Polls', polls_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>

</div>
